//ids-tfs:8624/npm/idsoft-local-npm/:_password=XklgM1BYPTMqMmBCYWkuNDYz
//ids-tfs:8624/npm/idsoft-local-npm/:username=tfs
//ids-tfs:8624/npm/idsoft-local-npm/:email=usr_tfs@idsoft.com
//ids-tfs:8624/npm/idsoft-local-npm/:always-auth=true
@idsoft:registry=http://ids-tfs:8624/npm/idsoft-local-npm/
always-auth=true
legacy-peer-deps=true
