<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.web>
    <httpRuntime enableVersionHeader="false" />
</system.web>
<system.webServer>
	<security>
			  <requestFiltering allowDoubleEscaping="true" />
	</security>
  <httpProtocol>
    <customHeaders>
      <remove name="Server" />
	  <remove name="X-Powered-By" />
	  <remove name="X-AspNet-Version" />
	  <remove name="X-SourceFiles" />
	  <add name="Content-Security-Policy" value="default-src: https:; frame-ancestors 'self' X-Frame-Options: SAMEORIGIN" />
      <add name="Referrer-Policy" value="no-referrer" />
      <add name="Strict-Transport-Security" value="max-age=31536000" />
      <add name="X-Content-Type-Options" value="nosniff" />
      <add name="X-XSS-Protection" value="1; mode=block" />
    </customHeaders>
  </httpProtocol>
  <rewrite>
    <rules>
		<clear />
		<rule name="Redirect to HTTPS" stopProcessing="true">
			<match url="(.*)" />
			<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
				<add input="{HTTPS}" pattern="^OFF$" />
			</conditions>
			<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
		</rule>
		<rule name="Test" patternSyntax="ExactMatch" stopProcessing="true">
			<match url="Test.txt" negate="true" />
			<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
				<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
				<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
			</conditions>
			<action type="Rewrite" url="./index.html" />
		</rule>
		
		<rule name="Angular Routes" stopProcessing="true">
			<match url=".*" />
			<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
				<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
				<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
			</conditions>
			<action type="Rewrite" url="./index.html" />
		</rule>
    </rules>
  </rewrite>
        <directoryBrowse enabled="false" />
</system.webServer>

</configuration>